.DS_Store
node_modules
dist
test-results/
package-lock.json
yarn.lock
pnpm-lock.yaml
vite.config.js.timestamp-*
/packages/create-svelte/template/CHANGELOG.md
/packages/package/test/**/package
/documentation/types.js
.vscode
.env
.vercel_build_output
.svelte-kit
.cloudflare
.pnpm-debug.log
.netlify
.turbo
.vercel
.test-tmp
symlink-from
deploy.sh
build
package
src/routes/guides/hooks
src/routes/guides/stores
src/routes/guides/actions
src/routes/guides/utilities
src/routes/guides/transitions
src/routes/guides/middlewares
src/routes/guides/derivatives